.page-wrapper {
    min-height: 100vh;
    padding: 20px;
    background: url("/assets/game-background.png") no-repeat center center fixed;
    background-size: cover;
    color: #ffd95c;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  